* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .logo{
    font-weight: bold;
   
}

#logo a{
  color: white;
  text-decoration: none;
  font-size: 30px;
  margin-left: auto;
  font-family: 'Nunito', sans-serif;
}

#logo:hover {
  animation: tilt-n-move-shaking 0.25s infinite;
}

.header, .header nav {
  width: 100%;
  background-image: linear-gradient(to bottom, var(--bg-color), rgba(255,0,0,0));
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: .5rem;
  position: relative;
}
         body {
        background-image: url("/static/img/bg-4.png");

  }
 
  .form-register {
    width: 550px;
    background: #24303c;
    padding: 10px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Nunito', sans-serif;
    color: white;
    box-shadow: 7px 13px 37px #823cf3;
    font-size: 35px;
    margin-bottom: 10px;
    
  }
  
  .form-registrer b{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: white;
  }
  .form-register p{
    width: 100%;
    background: #24303c;
    padding: 10px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: white;

  }
  
  .form-help p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: #1717FF;
    cursor: pointer;
  }
  
  .form-register .botons {
    width: 100%;
    background: #9b37d488;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
  }
.form-register h4{
text-align: center;


}
.terms{
  background-color: bisque;
  text-align: right;
  padding: 12px;
}

.controls {
  width: 100%;
  background: #dfdddd;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #8151be98;
  font-family: 'calibri';
  font-size: 18px;
  color: rgb(92, 92, 92);
}

.form-control {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  font-family: 'calibri';
  font-size: 18px;
  color: rgba(248, 248, 248, 0.932);
  text-align: center;
}

.form-select {
  width: 100px;
  background: #24303c;
  padding: 5px;
  margin: auto;
  margin-top: 10px;
  border-radius: 4px;
  font-family: 'Nunito', sans-serif;
  color: white;
  font-size: 15px;
  margin-bottom: 10px;
  text-align: left;
  border: 1px solid #1f53c5;
}

.form-select b{
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #c51fc5;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  color: white;
 
}

.logo-link{
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;

  & .logo-text{
      color: var(--secondary-color);
  }
}

.logo-link:hover {
  animation: tilt-n-move-shaking 0.25s infinite;
}


.search-title{
  color: white;
  font-size: 3vw;
}


body{
  background-color: var(--bg-color);
  font-family: 'Nunito', sans-serif;
 
}

.header, .header nav {
  width: 100%;
  background-image: linear-gradient(to bottom, var(--bg-color), rgba(255,0,0,0));
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: .5rem;
  position: relative;
}

.desktop-link{
  font: normal normal 600 1.2rem 'Nunito', sans-serif;
}
.desktop-link:hover{
  color: var(--third-bis-color);
}

.nav-form-search{}

.hamburger-menu-btn{
  background-color: transparent;
  color: var(--secondary-color);
}


.input-search {
  background-color: #dfdddd;
  border: 2px solid rgba(158, 52, 172, 0.534);
  border-radius: 25px;
  outline: none;
  color: var(--bg-color);
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  padding: .5rem 1rem;
  height: 8vh;
  width: 40vw;
}

.desktop-menu{
  display: none;
}

.mobile-menu{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 2rem 1rem;
  background-color: var(--third-bis-color);
  flex-direction: column;
  align-items: end;
  display: none;
}


.mobile-menu_open{
  display: flex;
}

.close-mobile-menu-btn{
  font-size: 1.5rem;
}

.mobile-links-list{
  padding: 5rem 0;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.mobile-link-item{
  text-align: end;
}
.mobile-link{
  font: normal normal 700 1.5rem Tahoma;
}

.footer{
  background-color: var(--third-bis-color);
  color: var(--secondary-color);
  font: normal normal 600 1.2rem 'Nunito', sans-serif;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  
}

.footer a:hover {
  color: var(--bg-color);
}

.footer{
  background-color: var(--third-bis-color);
  color: var(--secondary-color);
  font: normal normal 600 1.2rem 'Nunito', sans-serif;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.footer a:hover {
  color: var(--bg-color);
}



/* width */
::-webkit-scrollbar {
  width: 10px;
} 

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-input-color); 
} 
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--third-color); 
} 

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--third-bis-color); 
}

@media (width >= 768px) {
  .hamburger-menu-btn{
      display: none;
  }
  
  .desktop-menu{
      display: block;
  }
  .desktop-links-list{
      display: flex;
      gap: .5rem;
      font: normal normal 600 1rem 'Nunito', sans-serif;
      color: var(--secondary-color);
  }
  .desktop-link-item{}
  .desktop-link{}

  .carrito-container{
      grid-template-columns: 45% 45%;
      grid-template-areas: 
          "principal-image-product details-product"
          "additionals-image-product details-product"
      ;
      gap: .5rem;
      align-items: center;
  }

  .principal-image-product{
      place-self: end center;
      width: 80%;
  }
  .principal-image-product__image{
      border-radius: 20px;
  }
}


/* ANIMATIONS */
@keyframes tilt-n-move-shaking {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(5px, 5px) rotate(5deg); }
  50% { transform: translate(0, 0) rotate(0eg); }
  75% { transform: translate(-5px, 5px) rotate(-5deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}



.input-search {
  background-color: #dfdddd;
  border: 2px solid rgba(158, 52, 172, 0.534);
  border-radius: 25px;
  outline: none;
  color: var(--bg-color);
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  padding: .5rem 1rem;
  height: 8vh;
  width: 40vw;
}