<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CompuCodo | Mi carrito</title>
    <link rel="stylesheet" href="../../utils/resets.css">
    <link rel="stylesheet" href="../static/css/carrito.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <!-- vinculación fontawesome -->
    <script src="https://kit.fontawesome.com/f7fb471b65.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../../static/img/favicon.ico" type="image/x-icon">
</head>
<body>
    <header class="header">
        <nav>
            <!-- Logo -->
            <a href="../../index.html" class="logo-link">
                <img class="logo-image"src="/static/img/compu1.png" width="55px" height="40px" alt="Logo de CompuCodo" >
                <span class="logo-text">CompuCodo</span>
            </a>

            <form id="search" class="nav-form-search">
                <input type="text" class="input-search" placeholder="Buscar...">
            </form>

            <button type="button" class="hamburger-menu-btn">  
                <i class="fas fa-solid fa-bars fa-lg"></i>
            </button>
            <!-- hipervínculos del menú -->
            <div class="mobile-menu">
                <button type="button" class="close-mobile-menu-btn">
                    <i class="fas fa-solid fa-x fa-lg">❌</i>
                </button>
                <ul class="mobile-links-list">
                    <li class="mobile-link-item">
                        <a class="mobile-link" href="./carrito.html">Mis compras</a>
                    </li>
                    <li class="mobile-link-item">
                        <a class="mobile-link" href="./register.html">Registrarse</a>
                    </li>
                    <li class="mobile-link-item">
                        <a class="mobile-link" href="./login.html">Iniciar sesión</a>
                    </li>
                </ul>
            </div>

            <div class="desktop-menu">
                <ul class="desktop-links-list">
                    <li class="desktop-link-item">
                        <a class="desktop-link" href="./carrito.html">Mis Compras</a>
                    </li>
                    <li class="desktop-link-item">
                        <a class="desktop-link" href="./register.html" class="btn-cac">Registrarse</a>
                    </li>
                    <li class="desktop-link-item"> 
                        <a class="desktop-link" href="./login.html">
                            <i class="fas fa-sign-in-alt"></i>
                            <span class="login-text">Iniciar Sesión</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="carrito-container">
        <div class="principal-image-product">
            <img class="principal-image-product__image" src="../../static/img/smart-1.png" alt="Imagen principal del producto" height="300">
        </div>
        <div class="additionals-image-product">
            <img class="additionals-image-product__image" src="../../static/img/cel-1.png" alt="Imagen principal del producto" height="300">
            <img class="additionals-image-product__image" src="../../static/img/note-1.png" alt="Imagen principal del producto" height="300">
            <img class="additionals-image-product__image" src="../../static/img/tv-1.png" alt="Imagen principal del producto" height="300">
        </div>
        <div class="details-product">
            <h2 class="details-product__title">Detalles</h2>
            <p class="details-product__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. A modi reiciendis maxime, dignissimos ipsa ullam exercitationem quo ea doloribus blanditiis cumque inventore ad, optio necessitatibus magni nemo sequi eum tempore.</p>
            <div class="transaction-buttons">
                <button type="button" class="cancel-button">Cancelar</button>
                <button type="button" class="buy-button">Comprar</button>
            </div>
        </div>
    </main>

    <footer class="footer">
        <a href="">Términos y condiciones</a>
        <a href="">Preguntas Frecuentes</a>
        <a href="">Ayuda</a>
    </footer>
</body>
<script src="../../logic/index.js"></script>
</html>