<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- vinculación con estilos y favicon -->
    <link rel="stylesheet" href="../static/css/style3.css">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    
    <!-- vinculación con google-fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <!-- vinculación fontawesome -->
    <script src="https://kit.fontawesome.com/f7fb471b65.js" crossorigin="anonymous"></script>
    <title>CompuCodo</title>
</head>
<body>
    
    <!-- Encabezado -->
    <header>

        <nav>
            <!-- Logo -->
            <div id="logo">
                <a href="/index.html">
                   
                    <img src="/static/img/compu1.png" width="55px" height="40px" ><span class="logo-text"></span>
                 
                </a>
            </div>
    </header>

    <!-- Contenido -->
    <main>
       
                    <div>
                        <!-- Para titulo,año, tipo -->
                        <div>
                            <h2>Lavarropas</h2>
                        </div>

                        <!-- Descripción -->
                        <div>
                            &nbsp;  <h3>Sub</h3>
                            <p>TEXTO BASE</p>                            
                    
                        </div>                      
                    </div>
                </div>
            </div>
        </section>

        <!-- more-info:  -->
        <section id="more-info">
            <!-- División contenedora -->
            <div>
                <!-- División para más info -->
                <div>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/G96wE-9ZUGM?si=-PbqH9Dpmrl8zp0E&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>
                       
                </div>
            </div>
        </section>
    </main>
    
</body>
</html>