<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- vinculación con estilos y favicon -->
    <link rel="stylesheet" href="../static/css/style2.css">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    
    <!-- vinculación con google-fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <!-- vinculación fontawesome -->
    <script src="https://kit.fontawesome.com/f7fb471b65.js" crossorigin="anonymous"></script>
    <title>CompuCodo</title>
    </head>

    <body>
        
    
    <!-- Encabezado -->
    <header class="header">

        <nav>
            <!-- Logo -->
            <div id="logo">
                <a href="/index.html">
                   
                    <img src="/static/img/compu1.png" width="55px" height="40px" ><span class="logo-text"></span>
                 
                </a>
            </div>
            
            <!-- hipervínculos del menú -->
            
        </nav>

    </header>


    <!-- Contenido -->
    <main>

        <!-- form-wrapper: formulario -->
        <section id="form-wrapper">
           
            <body>
                <section class="form-register">
                  <h4>Iniciar Sesion</h4>
                  <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
                  <input class="controls" type="password" name="correo" id="correo" placeholder="Ingrese su Contraseña">
                  <input class="botons" type="submit" value="Registrarse">
                  <p><a href="#">Olvidé mi usuario/clave</a></p>
                
                  
                </section>
              
              </body>

            </form>
        </section>

    </main>
    
    <footer id="footer">
        <a href="./templates/links_footer.html">Términos y condiciones</a> &nbsp;
        <a href="./templates/links_footer.html">Preguntas Frecuentes</a>   &nbsp;
        <a href="./templates/links_footer.html">Contactanos</a> &nbsp;
    </footer>
    
</body>
</html>